Repository FSM1/cipher-box: changes, and which Codecov flags are due for each by the changed paths.
All: api, crypto

<execution_context> @./.claude/get-shit-done/references/ui-brand.md </ex
  .entire/metadata/a27f1ac3-7540-475d-86e1-dd0db9488e75/context.md
  .entire/metadata/a27f1ac3-7540-475d-86e1-dd0db9488e75/full.jsonl
  .entire/metadata/a27f1ac3-7540-475d-86e1-dd0db9488e75/prompt.txt
  .entire/metadata/a27f1ac3-7540-475d-86e1-dd0db9488e75/summary.txt
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-04-PLAN.md
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-05-PLAN.md
Due: none

feat(12.6-01): create per-file IPNS module with types, derivation, and encryption
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-04-PLAN.md
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-05-PLAN.md
  apps/api/src/ipns/dto/index.ts
  apps/api/src/ipns/dto/publish.dto.ts
  apps/api/src/ipns/entities/folder-ipns.entity.ts
  apps/api/src/ipns/ipns.controller.ts
  packages/crypto/src/file/derive-ipns.ts
  packages/crypto/src/file/index.ts
  packages/crypto/src/file/metadata.ts
  packages/crypto/src/file/types.ts
Due: api, crypto

feat(12.6-01): add v2 folder metadata types, update barrel exports, and unit tests
  packages/crypto/src/__tests__/file-ipns.test.ts
  packages/crypto/src/folder/index.ts
  packages/crypto/src/folder/metadata.ts
  packages/crypto/src/folder/types.ts
  packages/crypto/src/index.ts
Due: crypto

feat(12.6-02): batch publish service + republish scalability + API client regen
  apps/api/src/ipns/ipns.service.ts
  apps/api/src/republish/republish.service.ts
  apps/web/src/api/ipns/ipns.ts
  apps/web/src/api/models/batchPublishIpnsDto.ts
  apps/web/src/api/models/batchPublishIpnsResponseDto.ts
  apps/web/src/api/models/index.ts
  apps/web/src/api/models/publishIpnsEntryDto.ts
  apps/web/src/api/models/publishIpnsEntryDtoRecordType.ts
  packages/api-client/openapi.json
Due: api

docs(12.6-01): complete crypto primitives plan
  .planning/STATE.md
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-01-SUMMARY.md
Due: none

Completed 'gsd-executor' agent: Execute plan 12.6-01 (toolu_016sSH)
  .entire/metadata/75415d18-faef-43b2-96de-47f46c43f815/full.jsonl
  .entire/metadata/75415d18-faef-43b2-96de-47f46c43f815/tasks/toolu_016sSHmu1EApYEQotphoDjbc/checkpoint.json
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-02-SUMMARY.md
Due: none

docs(12.6-02): complete batch publish backend plan
  .planning/STATE.md
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-02-SUMMARY.md
Due: none

feat(12.6-03): file metadata service, batch IPNS publish, v2 store types
  apps/web/src/services/file-metadata.service.ts
  apps/web/src/services/index.ts
  apps/web/src/services/ipns.service.ts
  apps/web/src/stores/folder.store.ts
Due: none

feat(12.6-03): rewrite folder/download/delete services for v2 per-file IPNS
  apps/web/src/services/delete.service.ts
  apps/web/src/services/download.service.ts
  apps/web/src/services/folder.service.ts
Due: none

docs(12.6-03): complete frontend service layer integration plan
  .planning/STATE.md
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-03-SUMMARY.md
Due: none

feat(12.6-04): update useFolder hook for v2 service API
  apps/web/src/hooks/useFolder.ts
Due: none

feat(12.6-04): update preview hooks and file browser components for v2
  apps/web/src/components/file-browser/AudioPlayerDialog.tsx
  apps/web/src/components/file-browser/ContextMenu.tsx
  apps/web/src/components/file-browser/DetailsDialog.tsx
  apps/web/src/components/file-browser/FileBrowser.tsx
  apps/web/src/components/file-browser/FileList.tsx
  apps/web/src/components/file-browser/FileListItem.tsx
  apps/web/src/components/file-browser/ImagePreviewDialog.tsx
  apps/web/src/components/file-browser/MoveDialog.tsx
  apps/web/src/components/file-browser/PdfPreviewDialog.tsx
  apps/web/src/components/file-browser/SelectionActionBar.tsx
  apps/web/src/components/file-browser/TextEditorDialog.tsx
  apps/web/src/components/file-browser/VideoPlayerDialog.tsx
  apps/web/src/hooks/useContextMenu.ts
  apps/web/src/hooks/useDropUpload.ts
  apps/web/src/hooks/useFileDownload.ts
  apps/web/src/hooks/useFilePreview.ts
Due: none

docs(12.6-04): complete hooks & components update plan
  .planning/STATE.md
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-04-SUMMARY.md
Due: none

feat(12.6-05): update recovery tool for v2 per-file IPNS metadata
  apps/web/public/recovery.html
Due: none

docs(12.6-05): update vault export format for v2 per-file IPNS metadata
  docs/VAULT_EXPORT_FORMAT.md
Due: none

docs(12.6-05): complete recovery tool v2 + docs plan
  .planning/STATE.md
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-05-SUMMARY.md
Due: none

docs(12.6): add verification report (7/8 — FUSE v2 gap)
  .planning/phases/12.6-per-file-ipns-metadata-split/12.6-VERIFICATION.md
Due: none

ci: enforce full pipeline as required checks for PR merge
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  package.json
Due: none

fix(ci): build crypto package before web typecheck
  package.json
Due: none

The type checker is failing on that PR
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/context.md
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/full.jsonl
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/prompt.txt
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/summary.txt
Due: none

ci: enforce full pipeline as required checks for PR merge (#134)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  package.json
Due: none

fix: address CodeRabbit review comments on PR #133
  apps/api/src/ipns/dto/publish.dto.ts
  apps/api/src/ipns/ipns.service.ts
  apps/api/src/migrations/1739800000000-AddRecordTypeToFolderIpns.ts
  apps/web/src/hooks/useFilePreview.ts
  apps/web/src/services/file-metadata.service.ts
  apps/web/src/services/folder.service.ts
  packages/crypto/src/file/derive-ipns.ts
  packages/crypto/src/file/metadata.ts
  packages/crypto/src/types.ts
Due: api, crypto

There are a few comments from coderabbit that need to be addressed
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/context.md
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/full.jsonl
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/prompt.txt
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/summary.txt
  apps/api/src/ipns/dto/publish.dto.ts
  apps/api/src/ipns/ipns.service.ts
  apps/api/src/migrations/1739800000000-AddRecordTypeToFolderIpns.ts
  apps/web/src/hooks/useFilePreview.ts
  apps/web/src/services/file-metadata.service.ts
  apps/web/src/services/folder.service.ts
  packages/crypto/src/file/derive-ipns.ts
  packages/crypto/src/file/metadata.ts
  packages/crypto/src/types.ts
Due: api, crypto

fix(test): update unit and E2E tests for v2 metadata changes
  apps/api/src/ipns/ipns.service.spec.ts
  apps/api/src/republish/republish.service.spec.ts
  tests/e2e/tests/full-workflow.spec.ts
Due: api

There's still some ci/test and e2e test failures
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/context.md
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/full.jsonl
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/prompt.txt
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/summary.txt
  apps/api/src/ipns/ipns.service.spec.ts
  apps/api/src/republish/republish.service.spec.ts
  tests/e2e/tests/full-workflow.spec.ts
Due: api

fix(e2e): update edit/save test to use Metadata CID instead of Content CID
  tests/e2e/tests/full-workflow.spec.ts
Due: none

Now the edit content and save test is failing in e2e
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/context.md
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/full.jsonl
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/prompt.txt
  .entire/metadata/bd843443-2e2b-4276-a60f-d52afb116c43/summary.txt
  tests/e2e/tests/full-workflow.spec.ts
Due: none

docs(12.1): capture phase context
  .planning/phases/12.1-aes-ctr-streaming-encryption/12.1-CONTEXT.md
Due: none

docs(12.1): add phase research
  .planning/phases/12.1-aes-ctr-streaming-encryption/12.1-RESEARCH.md
Due: none

docs(12.1): create phase plan for AES-CTR streaming encryption
  .markdownlintignore
  .planning/ROADMAP.md
  .planning/phases/12.1-aes-ctr-streaming-encryption/12.1-01-PLAN.md
  .planning/phases/12.1-aes-ctr-streaming-encryption/12.1-02-PLAN.md
  .planning/phases/12.1-aes-ctr-streaming-encryption/12.1-03-PLAN.md
  .planning/phases/12.1-aes-ctr-streaming-encryption/12.1-04-PLAN.md
Due: none

feat(12.1-01): add AES-CTR constants and IV generation
  packages/crypto/src/constants.ts
  packages/crypto/src/utils/index.ts
  packages/crypto/src/utils/random.ts
Due: crypto

feat(12.1-01): add AES-CTR encrypt, decrypt, and range-decrypt functions
  packages/crypto/src/aes/decrypt-ctr.ts
  packages/crypto/src/aes/encrypt-ctr.ts
  packages/crypto/src/aes/index.ts
  packages/crypto/src/index.ts
Due: crypto

test(12.1-01): add comprehensive AES-CTR encryption test suite
  packages/crypto/src/__tests__/aes-ctr.test.ts
Due: crypto

docs(12.1-01): complete AES-CTR crypto primitives plan
  .planning/STATE.md
  .planning/phases/12.1-aes-ctr-streaming-encryption/12.1-01-SUMMARY.md
Due: none

feat(12.1-02): streaming crypto service with mode selection
  apps/web/src/services/file-crypto.service.ts
  apps/web/src/services/streaming-crypto.service.ts
Due: none

feat(12.1-03): service worker for AES-CTR decrypt proxy
  apps/web/src/workers/decrypt-sw.ts
  apps/web/tsconfig.json
  apps/web/tsconfig.sw.json
Due: none

Path conditions:
  api: any of: apps/api/src/**
  crypto: any of: packages/crypto/src/**
