Repository FSM1/cipher-box: changes, and which Codecov flags are due for each by the changed paths.
All: api, crypto

feat(12.3-03): add wallet login with wagmi, SIWE, and Core Kit integration
  apps/web/src/components/auth/WalletLoginButton.tsx
  apps/web/src/components/auth/index.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/lib/api/auth.ts
  apps/web/src/lib/wagmi/config.ts
  apps/web/src/lib/wagmi/provider.tsx
  apps/web/src/lib/web3auth/hooks.ts
  apps/web/src/main.tsx
  apps/web/src/routes/Login.tsx
Due: none

refactor(12.3-03): rename derivedKeypair to vaultKeypair and remove ADR-001 code
  apps/web/src/components/auth/LinkedMethods.tsx
  apps/web/src/components/file-browser/ImagePreviewDialog.tsx
  apps/web/src/components/file-browser/TextEditorDialog.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useDeviceRegistrySync.ts
  apps/web/src/hooks/useFileDownload.ts
  apps/web/src/hooks/useFilePreview.ts
  apps/web/src/hooks/useFileUpload.ts
  apps/web/src/hooks/useFolder.ts
  apps/web/src/hooks/useFolderNavigation.ts
  apps/web/src/lib/crypto/signatureKeyDerivation.ts
  apps/web/src/stores/auth.store.ts
Due: none

docs(12.3-03): complete frontend wallet login plan
  .planning/STATE.md
  .planning/phases/12.3-siwe-unified-identity/12.3-03-SUMMARY.md
Due: none

feat(12.3-04): add wallet link support with SIWE verification and cross-account collision detection
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/auth.service.ts
  apps/web/src/lib/api/auth.ts
Due: api

feat(12.3-04): rebuild LinkedMethods UI with full auth method management
  apps/web/src/App.css
  apps/web/src/components/auth/LinkedMethods.tsx
  apps/web/src/hooks/useLinkedMethods.ts
  apps/web/src/routes/Settings.tsx
Due: none

docs(12.3-04): complete link/unlink methods + settings UI plan
  .planning/STATE.md
  .planning/phases/12.3-siwe-unified-identity/12.3-04-SUMMARY.md
Due: none

docs(12.3): complete SIWE + Unified Identity phase
  .planning/ROADMAP.md
  .planning/phases/12.3-siwe-unified-identity/12.3-VERIFICATION.md
Due: none

fix(12.3): address PR review feedback from CodeRabbit
  apps/api/.env.example
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/dto/identity.dto.ts
  apps/api/src/auth/dto/link-method.dto.ts
  apps/api/src/auth/services/siwe.service.spec.ts
  apps/api/src/auth/services/siwe.service.ts
  apps/api/src/vault/dto/vault-export.dto.ts
  apps/web/src/api/auth/auth.ts
  apps/web/src/api/health/health.ts
  apps/web/src/api/identity/identity.ts
  apps/web/src/api/ipfs/ipfs.ts
  apps/web/src/api/ipns/ipns.ts
  apps/web/src/api/models/linkMethodDto.ts
  apps/web/src/api/models/vaultExportDto.ts
  apps/web/src/api/root/root.ts
  apps/web/src/api/vault/vault.ts
  apps/web/src/components/auth/LinkedMethods.tsx
  apps/web/src/components/file-browser/ImagePreviewDialog.tsx
  apps/web/src/hooks/useLinkedMethods.ts
  packages/api-client/openapi.json
Due: api

docs: capture todo - Migrate auth method identifiers to SHA-256 hashed lookup
  .planning/STATE.md
  .planning/todos/pending/2026-02-14-migrate-auth-identifiers-to-hashed-lookup.md
Due: none

docs: capture todo - Extend E2E tests to cover wallet and MFA flows
  .planning/STATE.md
  .planning/todos/pending/2026-02-14-extend-e2e-tests-wallet-and-mfa-flows.md
Due: none

fix(12.3): resolve CI failures - coverage, types, and API client
  apps/api/src/auth/auth.service.spec.ts
  apps/web/src/components/file-browser/ImagePreviewDialog.tsx
  apps/web/src/hooks/useFilePreview.ts
Due: api

chore(12.3): regenerate API client after DTO changes
  apps/web/src/api/auth/auth.ts
  apps/web/src/api/health/health.ts
  apps/web/src/api/identity/identity.ts
  apps/web/src/api/ipfs/ipfs.ts
  apps/web/src/api/ipns/ipns.ts
  apps/web/src/api/root/root.ts
  apps/web/src/api/vault/vault.ts
Due: none

docs: capture todo - Fix no-explicit-any warnings in generated API client
  .planning/STATE.md
  .planning/todos/pending/2026-02-14-fix-orval-generated-client-any-warnings.md
Due: none

<objective> Insert a decimal phase for urgent work discovered mid-milest
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/context.md
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/full.jsonl
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/prompt.txt
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/summary.txt
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/todos/done/2026-02-13-deterministic-vault-ipns-derivation.md
  .planning/todos/done/2026-02-14-migrate-auth-identifiers-to-hashed-lookup.md
Due: none

docs: insert Phase 12.3.1 (Pre-Wipe Identity Cleanup)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/todos/done/2026-02-13-deterministic-vault-ipns-derivation.md
  .planning/todos/done/2026-02-14-migrate-auth-identifiers-to-hashed-lookup.md
Due: none

ci: make E2E tests non-blocking during auth rework
  .github/workflows/e2e.yml
Due: none

The e2e tests are failing, but I am thinking that we make these optional
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/context.md
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/full.jsonl
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/prompt.txt
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/summary.txt
  .github/workflows/e2e.yml
Due: none

docs: track E2E re-enablement in testing todo
  .github/workflows/e2e.yml
  .planning/todos/pending/2026-02-14-extend-e2e-tests-wallet-and-mfa-flows.md
Due: none

Remove your TODO, and add this to the existing GSD e2e testing todo
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/context.md
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/full.jsonl
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/prompt.txt
  .entire/metadata/f4bb0464-d067-4015-8ffe-fb0ee19ddba5/summary.txt
  .github/workflows/e2e.yml
  .planning/todos/pending/2026-02-14-extend-e2e-tests-wallet-and-mfa-flows.md
Due: none

docs(12.3.1): create phase plan for pre-wipe identity cleanup
  .planning/ROADMAP.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-01-PLAN.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-02-PLAN.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-03-PLAN.md
Due: none

fix(12.3.1): revise plans based on checker feedback
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-02-PLAN.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-03-PLAN.md
Due: none

fix(12.3.1): revise plans based on checker feedback
  .planning/ROADMAP.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-01-PLAN.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-03-PLAN.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-04-PLAN.md
Due: none

feat(12.3.1-02): add generic hashIdentifier and widen identifier_display
  apps/api/src/auth/entities/auth-method.entity.ts
  apps/api/src/auth/services/siwe.service.ts
  apps/api/src/migrations/1700000000000-FullSchema.ts
Due: api

feat(12.3.1-01): deterministic vault IPNS derivation and EncryptedVaultKeys cleanup
  packages/crypto/src/index.ts
  packages/crypto/src/vault/derive-ipns.ts
  packages/crypto/src/vault/index.ts
  packages/crypto/src/vault/init.ts
  packages/crypto/src/vault/types.ts
Due: crypto

test(12.3.1-01): vault IPNS derivation tests and updated vault tests
  packages/crypto/src/__tests__/vault-ipns.test.ts
  packages/crypto/src/__tests__/vault.test.ts
Due: crypto

feat(12.3.1-02): hash all auth identifiers and remove cross-method auto-linking
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/controllers/identity.controller.ts
Due: api

docs(12.3.1-01): complete deterministic vault IPNS plan
  .planning/STATE.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-01-SUMMARY.md
Due: none

test(12.3.1-02): update tests for hashed identifiers and independent auth methods
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/controllers/identity.controller.spec.ts
  apps/api/src/auth/services/siwe.service.spec.ts
Due: api

docs(12.3.1-02): complete SHA-256 hashed identifiers plan
  .planning/STATE.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-02-SUMMARY.md
Due: none

feat(12.3.1-03): remove rootIpnsPublicKey from vault schema, service, and DTOs
  apps/desktop/src-tauri/src/api/types.rs
  apps/desktop/src-tauri/src/commands.rs
  apps/desktop/src-tauri/src/state.rs
  apps/web/src/api/models/initVaultDto.ts
  apps/web/src/api/models/vaultResponseDto.ts
  packages/api-client/openapi.json
Due: none

feat(12.3.1-03): wire deterministic IPNS derivation into frontend vault flow
  apps/api/src/vault/vault.controller.spec.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/lib/api/vault.ts
  tests/e2e/utils/web3auth-helpers.ts
Due: api

docs(12.3.1-04): complete downstream rootIpnsPublicKey cleanup plan
  .planning/STATE.md
  .planning/phases/12.3.1-pre-wipe-identity-cleanup/12.3.1-04-SUMMARY.md
Due: none

Path conditions:
  api: any of: apps/api/src/**
  crypto: any of: packages/crypto/src/**
