Repository FSM1/cipher-box: changes, and which Codecov flags are due for each by the changed paths.
All: api, crypto

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
      api:
        paths:
          - apps/api/src/**
        target: 85%
        threshold: 2%
      crypto:
        paths:
          - packages/crypto/src/**
        target: 80%
        threshold: 2%
    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  api:
    paths:
      - apps/api/src/**
    carryforward: true
  crypto:
    paths:
      - packages/crypto/src/**
    carryforward: true

comment:
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: true

test(77-01): add failing golden-vector test for base64 codec
  packages/crypto/src/__tests__/encoding.test.ts
Due: crypto

feat(77-01): hoist canonical base64 codec into @cipherbox/crypto
  packages/crypto/src/index.ts
  packages/crypto/src/utils/encoding.ts
  packages/crypto/src/utils/index.ts
Due: crypto

docs(77-01): add plan summary for base64 codec hoist
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-01-SUMMARY.md
Due: none

docs(77-01): record self-check pass in plan summary
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-01-SUMMARY.md
Due: none

docs(77-01): complete hoist canonical base64 codec plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

test(77-02): add failing test for importAesKey
  packages/crypto/src/__tests__/aes.test.ts
Due: crypto

feat(77-02): add importAesKey helper with zeroization
  packages/crypto/src/aes/import-key.ts
  packages/crypto/src/aes/index.ts
Due: crypto

refactor(77-02): route all 7 AES functions through importAesKey
  packages/crypto/src/aes/decrypt-ctr.ts
  packages/crypto/src/aes/decrypt.ts
  packages/crypto/src/aes/encrypt-ctr.ts
  packages/crypto/src/aes/encrypt.ts
  packages/crypto/src/aes/import-key.ts
Due: crypto

docs(77-02): complete AES key-import zeroization plan
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-02-SUMMARY.md
Due: none

docs(77-02): complete AES key-import zeroization plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

refactor(77-03): rename TEE wire field encryptedIpnsKey to canonical encryptedIpnsPrivateKey
  apps/api/src/republish/republish.service.ts
  apps/api/src/tee/tee.service.ts
  apps/tee-worker/src/routes/republish.ts
  apps/tee-worker/src/services/key-manager.ts
Due: api

test(77-03): update TEE/republish specs to canonical encryptedIpnsPrivateKey field
  apps/api/src/republish/republish.service.spec.ts
  apps/api/src/tee/tee.service.spec.ts
  apps/tee-worker/src/__tests__/republish.test.ts
Due: api

docs(77-03): add plan summary for TEE wire-contract field canonicalization
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-03-SUMMARY.md
Due: none

docs(77-03): append self-check result to plan summary
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-03-SUMMARY.md
Due: none

docs(77-03): complete TEE wire-contract field canonicalization plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

refactor: extract assertRootOwnership shared helper
  apps/api/src/shares/root-ownership.util.ts
  apps/api/src/shares/share-invite.service.ts
  apps/api/src/shares/shares.service.ts
Due: api

docs(77-04): complete assertRootOwnership extraction plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-04-SUMMARY.md
Due: none

test(77-05): add failing round-trip test for wrapIpnsKeyForTee
  packages/sdk-core/src/tee/__tests__/wrap.test.ts
Due: none

feat(77-05): make wrapIpnsKeyForTee bytes-in bytes-out
  packages/sdk-core/src/tee/wrap.ts
Due: none

feat(77-05): move TEE-wrap hex boundary to the 3 callers
  packages/sdk-core/src/file/index.ts
  packages/sdk-core/src/folder/registration.ts
  packages/sdk-core/src/tee/wrap.ts
  packages/sdk-core/src/vault/index.ts
Due: none

docs(77-05): add plan summary for TEE-wrap bytes-in bytes-out
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-05-SUMMARY.md
Due: none

docs(77-05): complete TEE-wrap bytes-in bytes-out plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(77-06): remove dead ShareCallbacks and addShareKeysFn scaffolding
  apps/web/src/hooks/__tests__/useSharedWriteOps.test.ts
  apps/web/src/hooks/shared-folder-projection.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useFolderMutations.ts
  apps/web/src/hooks/useSharedNavigation.ts
  apps/web/src/hooks/useSharedNavigationActions.ts
  packages/sdk/src/__tests__/client-shared-write.test.ts
  packages/sdk/src/__tests__/context.test.ts
  packages/sdk/src/__tests__/enumerate-shared-subtree.test.ts
  packages/sdk/src/__tests__/folder-listing.test.ts
  packages/sdk/src/__tests__/move-in-shared-folder.test.ts
  packages/sdk/src/__tests__/resolve-shared-subfolder-write-key.test.ts
  packages/sdk/src/__tests__/shared-folder-tree.test.ts
  packages/sdk/src/__tests__/shared-write.test.ts
  packages/sdk/src/__tests__/upload-batch.test.ts
  packages/sdk/src/client.ts
  packages/sdk/src/index.ts
  packages/sdk/src/share/context.ts
  packages/sdk/src/share/shared-write.ts
  packages/sdk/src/types.ts
Due: none

feat(77-06): remove orphaned updateSharePermission and UpdatePermissionDto
  apps/web/src/stores/share.store.ts
  packages/api-client/src/models/index.ts
  packages/api-client/src/models/updatePermissionDto.ts
  packages/api-client/src/models/updatePermissionDtoPermission.ts
  packages/sdk/src/__tests__/shared-write.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/share/index.ts
  packages/sdk/src/share/shared-write.ts
Due: none

docs(77-06): drop stale updateSharePermission reference from comment
  apps/web/src/stores/share.store.ts
Due: none

docs(77-06): add plan summary for dead SDK share scaffolding removal
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-06-SUMMARY.md
Due: none

docs(77-06): complete retire dead SDK share scaffolding plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

refactor(77-07): consolidate node-codec base64 onto shared crypto codec
  packages/core/src/node/decode.ts
  packages/core/src/node/encode.ts
  packages/core/src/node/seal.ts
Due: none

docs(77-07): add plan summary for node-codec base64 dedup
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-07-SUMMARY.md
Due: none

docs(77-07): complete node-codec base64 dedup plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-07-SUMMARY.md
Due: none

refactor(77-08): dedup rotation/share base64 helpers onto shared crypto codec
  packages/sdk-core/src/__tests__/rotation/grant-remint.test.ts
  packages/sdk-core/src/__tests__/rotation/write-revocation.test.ts
  packages/sdk-core/src/__tests__/share/grant.test.ts
  packages/sdk-core/src/__tests__/share/navigate.test.ts
  packages/sdk-core/src/rotation/engine.ts
  packages/sdk-core/src/share/grant.ts
  packages/sdk-core/src/share/navigate.ts
Due: none

docs(77-08): add plan summary for rotation/share base64 dedup
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-08-SUMMARY.md
Due: none

docs(77-08): complete rotation/share base64 dedup plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

refactor: dedup file/index.ts base64 helpers onto cipherbox/crypto
  packages/sdk-core/src/file/index.ts
Due: none

refactor: rename ipnsPrivateKeyEncrypted to canonical encryptedIpnsPrivateKey
  packages/sdk-core/src/__tests__/file/file-node.test.ts
  packages/sdk-core/src/__tests__/upload.test.ts
  packages/sdk-core/src/file/index.ts
  packages/sdk-core/src/upload/index.ts
  packages/sdk/src/__tests__/client-extended.test.ts
  packages/sdk/src/__tests__/client-pinning.test.ts
  packages/sdk/src/__tests__/client-upload-concurrency.test.ts
  packages/sdk/src/__tests__/helpers.ts
  packages/sdk/src/__tests__/owner-reconcile.test.ts
  packages/sdk/src/__tests__/upload-batch.test.ts
Due: none

docs(77-09): complete file-pipeline dedup and rename plan
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-09-SUMMARY.md
Due: none

docs(77-09): append self-check result to plan summary
  .planning/phases/77-crypto-hygiene-and-terminology-canonicalization/77-09-SUMMARY.md
Due: none

docs(77-09): complete file-pipeline dedup and rename plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

test(77-10): add forced-throw zeroization test for createSubfolder
  packages/sdk-core/src/__tests__/folder.test.ts
Due: none

feat(77-10): zero minted keys on createSubfolder error path
  packages/sdk-core/src/folder/registration.ts
Due: none
