Repository FSM1/cipher-box: changes, and which Codecov flags are due for each by the changed paths.
All: api, crypto

<objective> Execute all plans in a phase using wave-based parallel execu
  .entire/metadata/feecf209-783b-4812-8896-8c3f1b699ce1/context.md
  .entire/metadata/feecf209-783b-4812-8896-8c3f1b699ce1/full.jsonl
  .entire/metadata/feecf209-783b-4812-8896-8c3f1b699ce1/prompt.txt
  .entire/metadata/feecf209-783b-4812-8896-8c3f1b699ce1/summary.txt
Due: none

docs: capture todo - Add bring-your-own IPFS node support
  .planning/STATE.md
  .planning/todos/pending/2026-02-14-bring-your-own-ipfs-node.md
Due: none

docs: capture todo - Add bring-your-own IPFS node support (#124)
  .planning/STATE.md
  .planning/todos/pending/2026-02-14-bring-your-own-ipfs-node.md
Due: none

docs(12.2): capture phase context for Encrypted Device Registry
  .planning/phases/12.2-encrypted-device-registry/12.2-CONTEXT.md
  .planning/todos/pending/2026-02-13-deterministic-vault-ipns-derivation.md
Due: none

feat(12.2-01): add registry and device crypto modules
  packages/crypto/src/device/index.ts
  packages/crypto/src/device/keygen.ts
  packages/crypto/src/device/types.ts
  packages/crypto/src/index.ts
  packages/crypto/src/registry/derive-ipns.ts
  packages/crypto/src/registry/encrypt.ts
  packages/crypto/src/registry/index.ts
  packages/crypto/src/registry/schema.ts
  packages/crypto/src/registry/types.ts
Due: crypto

docs(12.2): create phase plan for encrypted device registry
  .planning/ROADMAP.md
  .planning/phases/12.2-encrypted-device-registry/12.2-PLAN-01.md
  .planning/phases/12.2-encrypted-device-registry/12.2-PLAN-02.md
  .planning/phases/12.2-encrypted-device-registry/12.2-PLAN-03.md
Due: none

test(12.2-01): add unit tests for registry crypto operations
  packages/crypto/src/__tests__/registry.test.ts
Due: crypto

docs(12.2): research phase domain for encrypted device registry
  .planning/phases/12.2-encrypted-device-registry/12.2-RESEARCH.md
Due: none

feat(12.2-02): device identity persistence and info detection
  apps/web/src/lib/device/identity.ts
  apps/web/src/lib/device/info.ts
Due: none

docs(12.2-01): complete registry crypto primitives plan
  .planning/STATE.md
  .planning/phases/12.2-encrypted-device-registry/12.2-01-SUMMARY.md
Due: none

feat(12.2-03): wire device registry into auth flow and logout
  apps/web/src/hooks/useAuth.ts
Due: none

feat(12.2-02): device registry service with IPFS/IPNS lifecycle
  apps/web/src/services/device-registry.service.ts
Due: none

docs(12.2-03): complete auth flow integration plan
  .planning/STATE.md
  .planning/phases/12.2-encrypted-device-registry/12.2-03-SUMMARY.md
Due: none

feat(12.2-03): add Zustand store and polling hook for device registry
  apps/web/src/hooks/useDeviceRegistrySync.ts
  apps/web/src/stores/device-registry.store.ts
Due: none

docs(12.2-02): complete registry service layer plan
  .planning/STATE.md
  .planning/phases/12.2-encrypted-device-registry/12.2-02-SUMMARY.md
Due: none

docs(12.2): complete Encrypted Device Registry phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/12.2-encrypted-device-registry/12.2-VERIFICATION.md
Due: none

fix(12.2): mount useDeviceRegistrySync hook in FileBrowser
  apps/web/src/components/file-browser/FileBrowser.tsx
Due: none

fix(12.2): address CodeRabbit review feedback
  apps/web/src/services/device-registry.service.ts
  packages/crypto/src/registry/derive-ipns.ts
  packages/crypto/src/registry/encrypt.ts
Due: crypto

Ok can you address all the coderabbit comments. great work on such a cle
  .entire/metadata/24c1ea04-c260-46f6-bc55-26dd7ed202af/context.md
  .entire/metadata/24c1ea04-c260-46f6-bc55-26dd7ed202af/full.jsonl
  .entire/metadata/24c1ea04-c260-46f6-bc55-26dd7ed202af/prompt.txt
  .entire/metadata/24c1ea04-c260-46f6-bc55-26dd7ed202af/summary.txt
  apps/web/src/services/device-registry.service.ts
  packages/crypto/src/registry/derive-ipns.ts
  packages/crypto/src/registry/encrypt.ts
Due: crypto

feat(12.2): Encrypted Device Registry (#125)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/12.2-encrypted-device-registry/12.2-01-SUMMARY.md
  .planning/phases/12.2-encrypted-device-registry/12.2-02-SUMMARY.md
  .planning/phases/12.2-encrypted-device-registry/12.2-03-SUMMARY.md
  .planning/phases/12.2-encrypted-device-registry/12.2-CONTEXT.md
  .planning/phases/12.2-encrypted-device-registry/12.2-PLAN-01.md
  .planning/phases/12.2-encrypted-device-registry/12.2-PLAN-02.md
  .planning/phases/12.2-encrypted-device-registry/12.2-PLAN-03.md
  .planning/phases/12.2-encrypted-device-registry/12.2-RESEARCH.md
  .planning/phases/12.2-encrypted-device-registry/12.2-VERIFICATION.md
  .planning/todos/pending/2026-02-13-deterministic-vault-ipns-derivation.md
  apps/web/src/components/file-browser/FileBrowser.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useDeviceRegistrySync.ts
  apps/web/src/lib/device/identity.ts
  apps/web/src/lib/device/info.ts
  apps/web/src/services/device-registry.service.ts
  apps/web/src/stores/device-registry.store.ts
  packages/crypto/src/__tests__/registry.test.ts
  packages/crypto/src/device/index.ts
  packages/crypto/src/device/keygen.ts
  packages/crypto/src/device/types.ts
  packages/crypto/src/index.ts
  packages/crypto/src/registry/derive-ipns.ts
  packages/crypto/src/registry/encrypt.ts
  packages/crypto/src/registry/index.ts
  packages/crypto/src/registry/schema.ts
  packages/crypto/src/registry/types.ts
Due: crypto

docs: capture todo - split file metadata into per-file IPNS objects (v2)
  .planning/STATE.md
  .planning/todos/pending/2026-02-14-file-metadata-evolution-v2.md
Due: none

<objective> Capture an idea, task, or issue that surfaces during a GSD s
  .entire/metadata/24c1ea04-c260-46f6-bc55-26dd7ed202af/context.md
  .entire/metadata/24c1ea04-c260-46f6-bc55-26dd7ed202af/full.jsonl
  .entire/metadata/24c1ea04-c260-46f6-bc55-26dd7ed202af/prompt.txt
  .entire/metadata/24c1ea04-c260-46f6-bc55-26dd7ed202af/summary.txt
  .planning/STATE.md
  .planning/todos/pending/2026-02-14-file-metadata-evolution-v2.md
Due: none

docs(12.3): capture phase context
  .planning/phases/12.3-siwe-unified-identity/12.3-CONTEXT.md
Due: none

docs(12.3): research SIWE + unified identity phase
  .planning/phases/12.3-siwe-unified-identity/12.3-RESEARCH.md
Due: none

Completed 'gsd-planner' agent: Plan Phase 12.3 SIWE (toolu_01NWqd)
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/full.jsonl
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/tasks/toolu_01NWqdw8qBX6RRMvXBvqYebx/checkpoint.json
  .planning/phases/12.3-siwe-unified-identity/12.3-01-PLAN.md
  .planning/phases/12.3-siwe-unified-identity/12.3-02-PLAN.md
  .planning/phases/12.3-siwe-unified-identity/12.3-03-PLAN.md
  .planning/phases/12.3-siwe-unified-identity/12.3-04-PLAN.md
Due: none

<execution_context> @./.claude/get-shit-done/references/ui-brand.md </ex
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/context.md
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/full.jsonl
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/prompt.txt
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/summary.txt
Due: none

docs(12.3): create phase plan
  .planning/ROADMAP.md
  .planning/phases/12.3-siwe-unified-identity/12.3-01-PLAN.md
  .planning/phases/12.3-siwe-unified-identity/12.3-02-PLAN.md
  .planning/phases/12.3-siwe-unified-identity/12.3-03-PLAN.md
  .planning/phases/12.3-siwe-unified-identity/12.3-04-PLAN.md
Due: none

Completed 'gsd-plan-checker' agent: Verify Phase 12.3 plans (toolu_01A2fa)
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/full.jsonl
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/tasks/toolu_01A2faE3HBq5ryCUXV5ogT8N/checkpoint.json
  .planning/phases/12.3-siwe-unified-identity/12.3-01-PLAN.md
  .planning/phases/12.3-siwe-unified-identity/12.3-04-PLAN.md
Due: none

Claude Code session updates
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/context.md
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/full.jsonl
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/prompt.txt
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/summary.txt
  .planning/STATE.md
Due: none

docs: capture todo - Add ERC-1271 contract wallet authentication support
  .planning/STATE.md
  .planning/todos/pending/2026-02-14-erc-1271-contract-wallet-authentication.md
Due: none

<objective> Capture an idea, task, or issue that surfaces during a GSD s
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/context.md
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/full.jsonl
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/prompt.txt
  .entire/metadata/9f67aee2-145b-49ba-be7d-8bc8e068d702/summary.txt
  .planning/STATE.md
  .planning/todos/pending/2026-02-14-erc-1271-contract-wallet-authentication.md
Due: none

docs(12.3): refine phase plans after review
  .planning/ROADMAP.md
  .planning/phases/12.3-siwe-unified-identity/12.3-01-PLAN.md
  .planning/phases/12.3-siwe-unified-identity/12.3-04-PLAN.md
Due: none

feat(12.3-01): create SiweService with SIWE verification
  apps/api/package.json
  apps/api/src/auth/services/index.ts
  apps/api/src/auth/services/siwe.service.spec.ts
  apps/api/src/auth/services/siwe.service.ts
  pnpm-lock.yaml
Due: api

feat(12.3-01): evolve schema and add wallet identity endpoints
  apps/api/jest.config.js
  apps/api/scripts/generate-openapi.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/controllers/identity.controller.spec.ts
  apps/api/src/auth/controllers/identity.controller.ts
  apps/api/src/auth/dto/identity.dto.ts
  apps/api/src/auth/dto/link-method.dto.ts
  apps/api/src/auth/entities/auth-method.entity.ts
  apps/api/src/auth/entities/user.entity.ts
  apps/api/src/auth/services/web3auth-verifier.service.spec.ts
  apps/api/src/auth/services/web3auth-verifier.service.ts
  apps/api/src/migrations/1700000000000-FullSchema.ts
  apps/api/src/vault/vault.service.spec.ts
  apps/api/src/vault/vault.service.ts
  apps/web/src/api/identity/identity.ts
  apps/web/src/api/models/authMethodResponseDtoType.ts
  apps/web/src/api/models/identityControllerGetWalletNonce200.ts
  apps/web/src/api/models/index.ts
  apps/web/src/api/models/walletVerifyDto.ts
  packages/api-client/openapi.json
Due: api

docs(12.3-01): complete backend SIWE service plan
  .planning/STATE.md
  .planning/phases/12.3-siwe-unified-identity/12.3-01-SUMMARY.md
Due: none

refactor(12.3-02): remove ADR-001 code paths from auth and vault services
  apps/api/src/auth/auth.controller.spec.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/dto/link-method.dto.ts
  apps/api/src/auth/dto/login.dto.ts
  apps/api/src/auth/services/web3auth-verifier.service.ts
  apps/api/src/vault/dto/vault-export.dto.ts
  apps/api/src/vault/vault.service.ts
  apps/web/src/api/models/index.ts
  apps/web/src/api/models/linkMethodDto.ts
  apps/web/src/api/models/linkMethodDtoLoginType.ts
  apps/web/src/api/models/loginDto.ts
  apps/web/src/api/models/loginDtoLoginType.ts
  apps/web/src/api/models/vaultExportDto.ts
  apps/web/src/api/models/vaultExportDtoDerivationMethod.ts
  packages/api-client/openapi.json
Due: api

test(12.3-02): update tests for simplified auth types
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/services/web3auth-verifier.service.spec.ts
  apps/api/src/vault/vault.service.spec.ts
Due: api

docs(12.3-02): complete ADR-001 cleanup plan
  .planning/STATE.md
  .planning/phases/12.3-siwe-unified-identity/12.3-02-SUMMARY.md
Due: none

Path conditions:
  api: any of: apps/api/src/**
  crypto: any of: packages/crypto/src/**
